name: Build

on:
  push:
    branches:
      - master
      - alpha

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1.4.0
        with:
          node-version: 12.x

      - name: Dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: |
          yarn build
          yarn build-storybook

      - name: UI tests
        run: yarn percy exec -- cypress run -e CI=true
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/alpha'
        continue-on-error: true
        uses: maxheld83/ghpages@v0.2.1
        env:
          BUILD_DIR: storybook-static
          GH_PAT: ${{ secrets.GITHUB_TOKEN_SEMANTIC_RELEASE }}

      - name: Deploy to NPM
        run: yarn semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN_SEMANTIC_RELEASE }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
